html{
    height: 100%;
    background-color: white;
}
body{
    font-family: 'Times New Roman', Serif;
}
#themeButton{
    width: 55px;
    height: 40px;
}
#header{
    text-align: center;
    color: grey
}
.errorInput {
    border: red solid 1px;
}

.errorMsg{
    color: red;
}
.form{
    text-align: center;
}
#xInput, #yInput, #rInput {
    width: 100px;
    height: 20px;
    border: royalblue solid 1px;
    background-color: white;
    margin: 0 10px;
    padding: 0;
    border-radius: 5px;
}
.auth, .registration {
    margin-top: 100px;
    text-align: center;
}
button{
    margin: 10px;
    background-color: royalblue;
    width: 305px;
    height: 30px;
    border-radius: 5px;
    border: royalblue solid 3px;
}
button:hover{
    background-color: cornflowerblue;
}

table{
    width: 400px;
    border: royalblue 1px solid;
}
thead{
    border: royalblue 1px solid;
    color: royalblue;
    font-weight: bold;
}

.registration input, .auth input{
    margin: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: royalblue solid 1px;
}

@media (max-width: 785px){
    #wrapper{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 786px){
    #wrapper{
        display: flex;
        flex-direction: row;
    }
    table{
        width: 400px;
        border: royalblue 1px solid;
        margin: 10%;
    }
}