#header{
    text-align: right;
    color: grey;
    margin: 0 30px;
}
.errorInput {
    border: red solid 1px;
}

#themeButton{
    float: left;
}
.errorMsg{
    color: red;
}
.form{
    text-align: center;
}

.registration input, .auth input{
    border-radius: 5px;
    border: royalblue solid 1px;
}

#xInput, #yInput, #rInput {
    width: 200px;
    height: 30px;
    border: royalblue solid 1px;
    background-color: white;
    margin: 10px;
    padding: 0;
    border-radius: 5px;
}
.auth, .registration {
    margin-top: 10vh;
    text-align: center;
}
button{
    margin: 10px;
    background-color: royalblue;
    border-radius: 5px;
    border: royalblue solid 3px;
}
button:hover{
    background-color: cornflowerblue;
}

table{
    border: royalblue 1px solid;
}
thead{
    border: royalblue 1px solid;
    color: royalblue;
    font-weight: bold;
}

@media (max-device-width: 784px){
    html{
        font-size: 40px;
    }
    #wrapper{
        display: flex;
        flex-direction: column;
    }
    .reg-wrapper{
        width: 100%;
    }
    canvas{
        margin: 5vh 10%;
        width: 80%;
        /*height: 300px;*/
    }

    .registration input, .auth input{
        margin: 10px;
        width: 80%;
        height: 50px;
        font-size: 25px;
    }

    table{
        margin: 15px 10%;
        width: 80%;
    }

    #dataForm{
        display: flex;
        flex-direction: column;
    }

    #xInput, #yInput, #rInput, button {
        width: 40%;
        height: 50px;
        font-size: 30px;
    }
    .header-btn{
        width: 90px;
        height: 50px;
    }
}
@media (min-device-width: 785px){
    #wrapper{
        display: flex;
        flex-direction: row;
    }
    #dataForm{
        display: flex;
        flex-direction: row;
    }

    canvas{
        width: 400px;
        height: 400px;
    }
    .registration input, .auth input{
        margin: 10px;
        width: 300px;
        height: 30px;
    }
    button{
        margin: 10px;
        width: 300px;
        height: 30px;
    }
    table{
        width: 400px;
        border: royalblue 1px solid;
        margin: 10%;
    }
    .header-btn{
        width: 60px;
        height: 30px;
    }
}